body{
    background-color: rgba(201, 203, 159, 0.877);
    font-family: "Alegreya Sans";
}

img {
 padding-left: 32%;
 position: relative;
 
}

h1  {
    font-size: 100px;
    padding-top: 5%;
    padding-left: 10%;

}

nav {
 background-color: black;
}

a {
color: aliceblue;
padding-left: 5%;
}